<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previnicius - Cadastro</title>
    <link rel="stylesheet" href="/css/cadastrar.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Previnões</h1>
            <h2>Cadastro</h2>
            <form class="cadastro-form">
                <input type="text" placeholder="Nome de usuário">
                <input type="email" placeholder="E-mail">
                <input type="number" placeholder="Idade">
                <input type="password" placeholder="Senha">
                <input type="password" placeholder="Confirmar senha">
                <label for="aceitarEmail">
                    <input type="checkbox" id="aceitarEmail"> Aceito receber informações por e-mail
                </label>
                <button type="submit">Cadastrar</button>
            </form>
            <p>Já tem uma conta? <a href="/html/cadastro.html">Faça login</a></p>
        </div>
  

</html>
