<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previnícius - Editar Usuário</title>
    <link rel="stylesheet" href="/css/editar.css">
</head>
<body>
    <div class="container">
        <h1>Previnicius - Editar Usuário</h1>
        <form class="editar-form">
            <label for="username">Nome de Usuário:</label>
            <input type="text" id="username" name="username" placeholder="Nome de usuário" value="Nome do Usuário">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" value="email@example.com">

            <label for="age">Idade:</label>
            <input type="number" id="age" name="age" placeholder="Idade" value="30">

            <label for="password">Nova Senha:</label>
            <input type="password" id="password" name="password" placeholder="Nova senha">

            <label for="confirm_password">Confirmar Nova Senha:</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar nova senha">

            <button type="submit"><a href="">Salvar Alterações</a></button>
        </form>
    </div>
</body>
</html>
