<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previnícius - Lista de Usuários</title>
    <link rel="stylesheet" href="/css/usuarios.css">
</head>
<body>
    <div class="container">
        <h1>Previnicius - Lista de Usuários</h1>
        <table>
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Email</th>
                    <th>Idade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nome do Usuário</td>
                    <td>email@example.com</td>
                    <td>30</td>
                    <td>
                        <button class="editar-btn"><a href="editar.html">Editar</a></button>
                        <button class="excluir-btn">Excluir</button>
                    </td>
                </tr>
                <!-- Repetir esta estrutura para cada usuário -->
            </tbody>
        </table>
        <button class="voltar-btn" ><a href="cadastro.html">Voltar para o Login</a></button>
    </div>
</body>
</html>
